@import '../../../components/SignUp';
@import '../../../components/Header';
@import '../../../components/upload/Upload';
@import '../../../components/Login';
@import '../../../components/WaitlistForm';

/* variables */
:root{
  --primary: #010101;
  --secondarytext: #A37CF0;
  --primarytext: #E6DDD6;
  --secondary: #6834D4;
}
/* reset */
body,p,a,button{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* base styles */
body{
  background: var(--primary);
  overflow-x: hidden;

  .error{
    color: red;
    font-size: small;
    font-weight: 100;
  }
}

/* fonts */
body{
  font-family: 'Arial Black' !important;
  font-weight: 900;
  color: var(--primarytext);
}

/* mobile styles */
body{

  /**-----reusable component styles----- */

  .artist-profile-card{
    .MuiTypography-h5{
      font-size: medium;
      text-align: left;
      font-weight: bold;
    }

    .MuiPaper-root{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      padding: 0 1rem;
      margin: 0;
      background-color: rgba(230, 221, 214, 0.2);
      color: var(--primarytext);

      .MuiCardContent-root{
        align-items: flex-start;
      }
    }
  }

  .search-bar-container{
    .MuiInputBase-root{
      background-color: var(--secondarytext);
      width: 75%;
      margin: 0.5rem;
      padding: 0.5rem;
    }

  }

  /**----------END--------- */

  .header-title{
    color: var(--secondarytext);
    padding: 1rem;
  }

  .home-view{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(autofit, minmax(240px, 1fr));
    grid-gap: 1rem;
    padding: 0 2rem;

    .MuiPaper-root{
      background-color: rgba(104,53,212,.5);
      padding: 2rem;
      font-size: small;
      color: var(--primarytext);
      font-weight: bold;
    }

    button{
      color: var(--secondarytext);
      font-weight: bold;
    }
  }

  .search-section{
    display: grid;
    align-items: center;
    justify-content: center;

    .MuiFormLabel-root{
      color: var(--primarytext);
      padding: 0 1rem;
      font-weight: bold;
    }

    .MuiInputBase-root{
      background-color: var(--secondarytext);
      width: 75%;
      margin: 0.5rem;
      padding: 0.5rem;
    }

    button{
      background: none;
      border: none;
      font-family: 'Helvetica';
      color: var(--secondarytext);
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .matching-section{
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
      background: none;
      font-family: 'Helvetica';
      color: var(--secondarytext);
      font-weight: bold;
    }

    .previous-btn{
      background: none;
      color: var(--secondary);
      font-family: 'Helvetica';
      margin-top: 5%!important;
      font-weight: bold;
    }

    .MuiInputBase-root{
      background-color: var(--secondarytext);
      width: 75%;
      margin: 0.5rem;
      padding: 0.5rem;
    }

    .MuiInputBase-input{
      background-color: var(--secondarytext);
      font-family: 'Helvetica';
    }

    h4{
      grid-area: title;
    }

    .search-bar-container{
      grid-area: search;
      width: 100%;
      text-align: center;

      button{
        background: none;
        border: var(--primarytext);
        color: var(--secondarytext);
      }

      .artist-profile-card{
        margin: auto;
        width: max-content;
      }
    }

    .artist-profile-card{
      grid-area: primary;
      margin-top: 5%;
    }

  }

  .submission-view{
    display: flex;
    flex-direction: column;
    align-items: center;

    .MuiInputBase-root{
      background-color: var(--secondarytext);
    }

    h4{
      font-size: smaller;
      font-weight: 100;
    }

    button{
      font-weight: bold;
      font-size: large;
      color: var(--secondary);
    }
  }

}

/* small tablet styles */
@media screen and (min-width: 540px){
  body {
    .home-view{
      display: flex;
      flex-direction: column;
      margin: auto;
    }
    .artist-profile-card{
      .MuiPaper-root{
        margin: inherit;
      }
    }
    .matching-section{
      .MuiInputBase-root{
        width: 50%;
      }

      .artist-profile-card{
        margin-top: auto!important;
      }
    }
  }
}

/* large tables and laptops */
@media screen and (min-width: 820px){
  body {
    .home-view{
      display: flex;
      flex-direction: column;
      width: 75%;
      margin: auto;

      button{
        color: var(--secondarytext);
        font-weight: bold;
        font-size: x-large;
      }
    }

    .matching-section{
      .MuiInputBase-root{
        width: 25%;
      }

      button{
        font-weight: bold;
        font-size: large;
      }

      .artist-profile-card{
        margin-top: auto!important;
      }
    }

    .submission-view{
      button{
        font-weight: bold;
        font-size: large;
        color: var(--secondary);
      }
      h4{
        font-weight: lighter;
      }
      .MuiInputBase-root{
        width: 100%;
      }
    }

  }
}

/* desktop styles */
@media screen and (min-width: 1200px){
  body{
    .home-view{
      width: 50%;

      button{
        font-size: x-large;
      }

      .MuiPaper-root{
        font-size: large;
      }
    }

    .search-section{
      .MuiFormLabel-root{
        font-size: x-large;
      }
      button{
        font-weight: bold;
        font-size: large;
      }
    }

    .matching-section{
      display: flex;
      flex-direction: column;
      align-items: center;

      li{
        font-size: x-large;
      }

      .MuiInputBase-root{
        width: 25%;
      }
      .artist-profile-card{
        margin-top: auto;
      }

      .previous-btn{
        margin-top: auto!important;
      }

      .search-bar-container
      .artist-profile-card{
        margin-left: auto;
      }
    }

    .submission-view{
      h4{
        font-size: medium;
      }
    }
  }
}