/* variables */
:root{
  --primary: #010101;
  --secondarytext: #A37CF0;
  --primarytext: #E6DDD6;
  --secondary: #6834D4;
}
/* reset */
body,p,a,button{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* base styles */
body{
  background: var(--primary);
  overflow-x: hidden;
}

/* fonts */
body{
  font-family: 'Helvetica';
  color: var(--primarytext);
}

/* mobile styles */
body{

  /**-----reusable component styles----- */

  .artist-profile-card{
    .MuiTypography-h5{
      font-size: medium;
      text-align: left;
      font-weight: bold;
    }

    .MuiPaper-root{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 80%;
      padding: 0 1rem;
      margin: 0;
      background-color: rgba(230, 221, 214, 0.2);
      color: var(--primarytext);

      .MuiCardContent-root{
        align-items: flex-start;
      }
    }
  }

  .search-bar-container{
    .MuiInputBase-root{
      background-color: var(--secondarytext);
      width: 75%;
      margin: 0.5rem;
      padding: 0.5rem;
    }
  }

  /**----------END--------- */

  .header-title{
    color: var(--secondarytext);
    text-align: center;
    padding: 2rem 0;
  }

  .home-view{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(autofit, minmax(240px, 1fr));
    grid-gap: 1rem;
    padding: 0 2rem;

    .MuiPaper-root{
      background-color: rgba(104,53,212,.5);
      padding: 2rem;
      font-size: small;
      color: var(--primarytext);
      font-weight: bold;
    }
  }

  .search-section{
    display: grid;
    align-items: center;
    justify-content: center;

    .MuiFormLabel-root{
      color: var(--primarytext);
      padding: 0 1rem;
      font-weight: bold;
    }

    .MuiInputBase-root{
      background-color: var(--secondarytext);
      width: 75%;
      margin: 0.5rem;
      padding: 0.5rem;
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .matching-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "title title"
      "search search"
      "matches matches"
      "primary primary";
    align-items: center;

      h4{
        grid-area: title;
      }

      .search-bar-container{
        grid-area: search;
      }

      .artist-profile-card{
        grid-area: primary;
      }

  }

}

/* small tablet styles */
@media screen and (min-width: 620px){

}

/* large tables and laptops */
@media screen and (min-width: 960px){

}

/* desktop styles */
@media screen and (min-width: 1200px){

}