/* variables */
:root {
  --primary: #010101;
  --secondarytext: #A37CF0;
  --primarytext: #E6DDD6;
  --secondary: #6834D4;
}

/* reset */
body, p, a, button {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* base styles */
body {
  background: var(--primary);
  overflow-x: hidden;
}
body .error {
  color: red;
  font-size: small;
  font-weight: 100;
}

/* fonts */
body {
  font-family: "Helvetica";
  color: var(--primarytext);
}

/* mobile styles */
body {
  /**-----reusable component styles----- */
  /**----------END--------- */
}
body .artist-profile-card .MuiTypography-h5 {
  font-size: medium;
  text-align: left;
  font-weight: bold;
}
body .artist-profile-card .MuiPaper-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 0 1rem;
  margin: 0;
  background-color: rgba(230, 221, 214, 0.2);
  color: var(--primarytext);
}
body .artist-profile-card .MuiPaper-root .MuiCardContent-root {
  align-items: flex-start;
}
body .search-bar-container .MuiInputBase-root {
  background-color: var(--secondarytext);
  width: 75%;
  margin: 0.5rem;
  padding: 0.5rem;
}
body .header-title {
  color: var(--secondarytext);
  text-align: center;
  padding: 2rem 0;
}
body .home-view {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(autofit, minmax(240px, 1fr));
  grid-gap: 1rem;
  padding: 0 2rem;
}
body .home-view .MuiPaper-root {
  background-color: rgba(104, 53, 212, 0.5);
  padding: 2rem;
  font-size: small;
  color: var(--primarytext);
  font-weight: bold;
}
body .search-section {
  display: grid;
  align-items: center;
  justify-content: center;
}
body .search-section .MuiFormLabel-root {
  color: var(--primarytext);
  padding: 0 1rem;
  font-weight: bold;
}
body .search-section .MuiInputBase-root {
  background-color: var(--secondarytext);
  width: 75%;
  margin: 0.5rem;
  padding: 0.5rem;
}
body .search-section button {
  background: none;
  border: none;
  font-family: "Helvetica";
  color: var(--secondarytext);
}
body .search-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .matching-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "title title" "search search" "matches matches" "primary primary";
  justify-items: center;
}
body .matching-section button {
  background: none;
  border-color: #E6DDD6;
  font-family: "Helvetica";
  color: var(--secondarytext);
}
body .matching-section .previous-btn {
  background: none;
  color: var(--secondary);
  font-family: "Helvetica";
  margin-top: 5% !important;
}
body .matching-section .MuiInputBase-root {
  background-color: var(--secondarytext);
  width: 75%;
  margin: 0.5rem;
  padding: 0.5rem;
}
body .matching-section .MuiInputBase-input {
  background-color: var(--secondarytext);
  font-family: "Helvetica";
}
body .matching-section h4 {
  grid-area: title;
}
body .matching-section .search-bar-container {
  grid-area: search;
  width: 100%;
  text-align: center;
}
body .matching-section .search-bar-container button {
  background: none;
  border: var(--primarytext);
  color: var(--secondarytext);
}
body .matching-section .search-bar-container .artist-profile-card {
  margin: auto;
  width: -moz-max-content;
  width: max-content;
  margin-left: 16%;
}
body .matching-section .artist-profile-card {
  grid-area: primary;
  margin-top: 5%;
}
body .submission-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .submission-view .MuiFormLabel-root {
  color: var(--primarytext);
  padding: 0 1rem;
  font-weight: bold;
  font-size: small;
}
body .submission-view .MuiInputBase-root {
  background-color: var(--secondarytext);
  width: 75%;
  margin: 0.5rem;
  padding: 0.5rem;
}

/* small tablet styles */
/* large tables and laptops */
/* desktop styles *//*# sourceMappingURL=main.css.map */