/* variables */
:root {
  --primary: #010101;
  --secondarytext: #A37CF0;
  --primarytext: #E6DDD6;
  --secondary: #6834D4;
}

/* reset */
body, p, a, button {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* base styles */
body {
  background: var(--primary);
  overflow-x: hidden;
}
body .error {
  color: red;
  font-size: small;
  font-weight: 100;
}

/* fonts */
body {
  font-family: "Helvetica";
  color: var(--primarytext);
}

/* mobile styles */
body {
  /**-----reusable component styles----- */
  /**----------END--------- */
}
body .artist-profile-card .MuiTypography-h5 {
  font-size: medium;
  text-align: left;
  font-weight: bold;
}
body .artist-profile-card .MuiPaper-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 0 1rem;
  margin: 0;
  background-color: rgba(230, 221, 214, 0.2);
  color: var(--primarytext);
}
body .artist-profile-card .MuiPaper-root .MuiCardContent-root {
  align-items: flex-start;
}
body .search-bar-container .MuiInputBase-root {
  background-color: var(--secondarytext);
  width: 75%;
  margin: 0.5rem;
  padding: 0.5rem;
}
body .header-title {
  color: var(--secondarytext);
  text-align: center;
  padding: 1rem;
}
body .home-view {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(autofit, minmax(240px, 1fr));
  grid-gap: 1rem;
  padding: 0 2rem;
}
body .home-view .MuiPaper-root {
  background-color: rgba(104, 53, 212, 0.5);
  padding: 2rem;
  font-size: small;
  color: var(--primarytext);
  font-weight: bold;
}
body .home-view button {
  color: var(--secondarytext);
  font-weight: bold;
}
body .search-section {
  display: grid;
  align-items: center;
  justify-content: center;
}
body .search-section .MuiFormLabel-root {
  color: var(--primarytext);
  padding: 0 1rem;
  font-weight: bold;
}
body .search-section .MuiInputBase-root {
  background-color: var(--secondarytext);
  width: 75%;
  margin: 0.5rem;
  padding: 0.5rem;
}
body .search-section button {
  background: none;
  border: none;
  font-family: "Helvetica";
  color: var(--secondarytext);
}
body .search-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .matching-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .matching-section button {
  background: none;
  font-family: "Helvetica";
  color: var(--secondarytext);
  font-weight: bold;
}
body .matching-section .previous-btn {
  background: none;
  color: var(--secondary);
  font-family: "Helvetica";
  margin-top: 5% !important;
  font-weight: bold;
}
body .matching-section .MuiInputBase-root {
  background-color: var(--secondarytext);
  width: 75%;
  margin: 0.5rem;
  padding: 0.5rem;
}
body .matching-section .MuiInputBase-input {
  background-color: var(--secondarytext);
  font-family: "Helvetica";
}
body .matching-section h4 {
  grid-area: title;
}
body .matching-section .search-bar-container {
  grid-area: search;
  width: 100%;
  text-align: center;
}
body .matching-section .search-bar-container button {
  background: none;
  border: var(--primarytext);
  color: var(--secondarytext);
}
body .matching-section .search-bar-container .artist-profile-card {
  margin: auto;
  width: -moz-max-content;
  width: max-content;
}
body .matching-section .artist-profile-card {
  grid-area: primary;
  margin-top: 5%;
}
body .submission-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .submission-view .MuiInputBase-root {
  background-color: var(--secondarytext);
}
body .submission-view h4 {
  font-size: smaller;
  font-weight: 100;
}
body .submission-view button {
  font-weight: bold;
  font-size: large;
  color: var(--secondary);
}

/* small tablet styles */
@media screen and (min-width: 540px) {
  body .home-view {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  body .artist-profile-card .MuiPaper-root {
    margin: inherit;
  }
  body .matching-section .MuiInputBase-root {
    width: 50%;
  }
  body .matching-section .artist-profile-card {
    margin-top: auto !important;
  }
}
/* large tables and laptops */
@media screen and (min-width: 820px) {
  body .home-view {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
  }
  body .home-view button {
    color: var(--secondarytext);
    font-weight: bold;
    font-size: x-large;
  }
  body .matching-section .MuiInputBase-root {
    width: 25%;
  }
  body .matching-section button {
    font-weight: bold;
    font-size: large;
  }
  body .matching-section .artist-profile-card {
    margin-top: auto !important;
  }
  body .submission-view button {
    font-weight: bold;
    font-size: large;
    color: var(--secondary);
  }
  body .submission-view h4 {
    font-weight: lighter;
  }
  body .submission-view .MuiInputBase-root {
    width: 100%;
  }
}
/* desktop styles */
@media screen and (min-width: 1200px) {
  body .home-view {
    width: 50%;
  }
  body .home-view button {
    font-size: x-large;
  }
  body .home-view .MuiPaper-root {
    font-size: large;
  }
  body .search-section .MuiFormLabel-root {
    font-size: x-large;
  }
  body .search-section button {
    font-weight: bold;
    font-size: large;
  }
  body .matching-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .matching-section li {
    font-size: x-large;
  }
  body .matching-section .MuiInputBase-root {
    width: 25%;
  }
  body .matching-section .artist-profile-card {
    margin-top: auto;
  }
  body .matching-section .previous-btn {
    margin-top: auto !important;
  }
  body .matching-section .search-bar-container .artist-profile-card {
    margin-left: auto;
  }
  body .submission-view h4 {
    font-size: medium;
  }
}/*# sourceMappingURL=main.css.map */